* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

header {
  background-color: #18ca62;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1,
h2 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

nav li {
  margin: 10px;
  width: 300px;
}

nav a {
  text-decoration: none;
  color: black;
  display: block;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

nav a:hover img {
  transform: scale(1.1);
}

span {
  display: block;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  nav ul {
    justify-content: flex-start;
  }
}
