/* style2.css */

body {
  font-family: "Arial", sans-serif;
  background: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: #007bff;
  text-align: center;
  padding: 20px 0;
}

header img {
  height: auto;
  max-height: 100px;
}

h1 {
  text-align: center;
  color: #007bff;
  margin: 20px 0;
}

/* Card layout for whiskey information */
.whiskey-card {
  background: #fff;
  max-width: 300px; /* 이 값을 조정하여 카드의 최대 너비를 설정 */
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%; /* 추가: 모든 카드의 높이를 동일하게 설정 */
}

.whiskey-card-image-container {
  display: flex; /* Flex 컨테이너 설정 */
  justify-content: center; /* 가로 방향 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  height: 250px; /* 컨테이너 높이 설정 */
  overflow: hidden; /* 큰 이미지가 컨테이너 밖으로 나가는 것을 방지 */
}

.whiskey-card img {
  max-width: 100%; /* 최대 너비 제한 */
  max-height: 100%; /* 최대 높이 제한 */
  height: auto; /* 원본 비율 유지 */
  display: block; /* 블록 레벨 요소로 설정 */
}
.whiskey-card-content {
  padding: 15px;
  margin-top: auto; /* 추가: 내용을 카드 하단으로 밀어붙임 */
}

.whiskey-name {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
}

.whiskey-description {
  font-size: 0.9em;
  color: #666;
}

/* Grid layout */
.whiskey-grid {
  max-width: 1200px; /* 이 값을 조정하여 그리드의 최대 너비를 설정 */
  margin: 0 auto; /* 그리드 컨테이너를 중앙에 위치시킴 */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .whiskey-grid {
    grid-template-columns: 1fr;
  }
}
